:root {
  --width: 640px;
}

* {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: var(--text);
  transition: all 400ms;
}

h1,
.clicker,
.bottom {
  width: var(--width);
  margin-top: 1rem;
}

main {
  width: 100vw;
  height: 100vh;
  background: var(--bg);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 4rem;
}

.themes {
  margin-top: 0.5rem;
}

.themes button {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 2px solid var(--text);
  margin-right: 1rem;
}

button {
  cursor: pointer;
  outline: 0;
  border: 0;
}

.clicker {
  height: 240px;
  position: relative;
  overflow: hidden;
  background: var(--fg);
  border-radius: 0.25rem;
}

.clicker:disabled {
  background: var(--disabled);
  cursor: default;
}

.clicker .ripple {
  position: absolute;
  border-radius: 50%;
  background: #000;
  opacity: 0.1;
  transform: scale(0);
  animation: ripple 0.6s linear;
  pointer-events: none;
}

.clicker h2 {
  font-size: 24px;
  pointer-events: none;
  position: relative;
  z-index: 999;
  color: var(--buttontext);
}

@keyframes ripple {
  to {
    transform: scale(2.5);
    opacity: 0;
  }
}

.fade {
  opacity: 0;
  animation: fade 0.8s;
}

@keyframes fade {
  from {
    opacity: 1;
  }
}
