body {
  margin: 0;
  font-family: "HelveticaBold";
  background: var(--bg);
  color: var(--text);
  transition: background, color 400ms;
}

.App {
  margin-left: 25%;
  margin-right: 25%;
}

.title {
  display: flex;
  align-items: center;
}

h1 {
  /*Page Title*/
  font-size: 84px;
}

.icon {
  min-width: 56px;
  min-height: 56px;
  margin-left: 16px;
  cursor: pointer;
  filter: invert(var(--light));
}

h2 {
  /*Button*/
  font-size: 24px;
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
}

button {
  position: relative;
  overflow: hidden;
  transition: background 400ms;
  background-color: #079992;
  outline: 0;
  border: 0;
  border-radius: 0.25rem;
  cursor: pointer;
}

button:disabled {
  background-color: #b2bec3;
  cursor: default;
}

.clicker {
  width: 100%;
  height: 240px;
  padding: 1rem 2rem;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.2);
}

.testLength {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 32px;
  height: 32px;
}

.testLengthButtons {
  flex: 1;
  height: 100%;
}

.testLengthButton {
  height: 100%;
  min-width: 32px;
  margin-right: 8px;
}

h5 {
  /*Test length label*/
  font-size: 24px;
  margin-right: 16px;
  margin-top: 0;
  margin-bottom: 0;
}

.testInfo {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.info {
  display: flex;
  flex-direction: column;
  width: 160px;
}

h4 {
  /*Info Title*/
  font-size: 24px;
  margin-bottom: 0px;
}

h3 {
  /*Info Text*/
  font-size: 20px;
  margin-top: 8px;
}

@media (max-width: 960px) {
  .App {
    margin-left: 20px;
    margin-right: 20px;
  }
  .info {
    width: 100%;
  }
  h1 {
    font-size: 60px;
  }
}

:root {
  --bg: #fff;
  --text: #000;
  --light: 1;
}

.dark {
  --bg: #222;
  --text: #fff;
  --light: 0;
}
